@model AngCore.Models.Databases
@{
    ViewData["Title"] = "Home Page";
}
<h1>Databases</h1>

<div class="text-center">
    @using (Html.BeginForm("Tables", "Home"))
    {
        <select name="name">
            @foreach (string name in Model.List)
            {
                <option value="@name">@name</option>
            }
        </select>
        <input type="submit" />
    }
</div>
